<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandWritten Digits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form action="predict" method="post">
        <canvas width="112px" height="112px" id="canvas">
            Sorry, your browser does not support &lt;canvas&gt;
        </canvas>
        <button type="button" id="clear-canvas">Clear</button>
        <button type="submit">Predict</button>        
    </form>

    {% block result %}

    {% endblock %}

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>